* {
   box-sizing: content-box;
   font-family: Arial, Helvetica, sans-serif;
}
body {
   display: block;
   padding-top: 25px;
   margin: auto;
   width: 90%;
}
header {
   background: darkgray;
   padding: 15px;
   padding-top: 5px;
   border-radius: 12px;
}
h1 {
   text-align: center;
}
h2 {
   text-align: center;
}
.right {
   text-align: right;
}
ul {
   list-style-type: none;
}